<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Wer wird Millionär</title>
    <link href="/Stylesheets/inputTemplate.css" rel="stylesheet">
    <link href="/Stylesheets/basics.css" rel="stylesheet">
    <link href="/Stylesheets/header.css" rel="stylesheet">
</head>

<body>
    <header class="grid-container">
        <div class="header_item_name">
            Testnutzername
        </div>

        <div class="header_item_knöpfe align-right">
            <button class="knopfBlank align-right" type="button">
                <img src="/Ressources/Images/Ton%20Button.png" alt="Ton ändern" width="60" height="60">
            </button>

            <button class="knopfBlank align-right" type="button">
                <img src="/Ressources/Images/Hilfe%20Button.png" alt="Hilfe anzeigen" width="60" height="60">
            </button>
        </div>

        <div class="header_item_logo align-center">
            <img id="WWM-Logo" src="/Ressources/Images/Logo.png" alt="logo" width="185" height="150">
        </div>

        <div class="header_item_fhlogo align-right">
            <img id="fh-logo" src="/Ressources/Images/FH-Logo.png"  alt="FH_Logo" width="59" height="150">
        </div>
    </header>
</body>
</html>