.flex{
    display: flex;
}

.flex-down{
    flex-direction: column;
}

.shadow-outset{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.shadow-inset{
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.rounded{
    border-radius: 5px;
}

.border-std{
    border-radius: 5px;
    border: 0;
}

.fontsize-32px{
    font-size: 32px;
}

.fontsize-25px{
    font-size: 25px;
}

.fontsize-20px{
    font-size: 25px;
}

.scrollContainer{
    overflow: auto;
}

.align-content-center{
    text-align: center;
}

.align-content-right{
    text-align: right;
}

.debug_border, .debug_border *{
    border: 1px dashed red !important;
}