



<!DOCTYPE html>
<html lang="de">
<head>
    <title>Adminpanel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="basics.css">
    <link rel="stylesheet"  type="text/css" href="inputTemplate.css">
    <link rel="stylesheet" type="text/css"  href="adminpanel.css">
    <script src="script.js" defer></script>
</head>

<body>

<header>

    <img id="WWM-Logo" src="/Ressources/Images/Logo.png" alt="logo">
    <img id="fh-logo" src="/Ressources/Images/FH-Logo.png" alt="FH_Logo">

</header>