
#fh-logo{
    position: fixed;
    right: 0;
    top: 44px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11%;
    margin-top : 20%;
}
main {
    margin-bottom: 20%;
}
#niv{
    background: #046E69;
}
#niv select{
    margin: 10px;
    outline: 0;
    border-width: 0 0 1px 0;
    width: 290px;
    height: 20px;
    font-size: 17px;
    text-align: center;


}

.labelQuestion{
    display: flex;
    outline: 0;
    border-color: var(--text-grau);
    width: 310px;
    height: 72px;
    text-align: center;
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #00B5AD;
    border-top: 4px solid  #046E69;

}

.scroll-menu{
    margin: 15px;
    max-height: 390px;
    background: #00B5AD;
}
.option {
    display: flex;
    margin: 5px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    min-height: 20px

}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-container {
    display: flex;
    align-items: center; /* Zentrierung der Checkboxen und Textfelder vertikal */
    background: #00B5AD;
    margin-bottom: 15px; /* Abstand zwischen den Checkbox-Containern */
}

    .check {
        border-radius: 50%; /* Runde Ecken */
        width: 16px; /* Breite der Checkbox */
        height: 16px; /* Höhe der Checkbox */
    }

#inputQuestionText{

    height: 56px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.scroll-menu {
    max-height: 340px;
    overflow-y: auto;
    border: 4px solid #ccc;
}
.buttonBottomContainer form {
 display: flex;

}

input:focus{
    outline: 2px solid #046E69;
}

input[type="checkbox"] {
    border-radius: 50%; /* Rundung der Ecken auf 50% (macht die Checkbox rund) */
}

.buttonBottomContainer {
    width: 100%;
    margin-left: 4%;
    margin-top: 20%;
}
