/*Standartstyle für alles in Body*/
body{
    font-family: verdana, serif;

    --primär-hell: #00B5AD;
    --primär-dunkel: #046E69;
    --hintergrund-grau: #DBDBDB;
    --hintergrund-weiß: #FFFFFF;
    --text-grau: #231F20;
    --warnung-rot: #D42323;
}


#text {
    display: flex;
    text-align: center;
    background: #046E69;
    color: var(--hintergrund-weiß);
    height: 40px;

}

.questionHeader{

}

/*Standartstyle für jeden Knopf*/
/*Kann auch über die Klasse "knopf" angewendet werden*/
.knopf,
button{
    background-color: var(--primär-hell);
    color: var(--hintergrund-weiß);

    border-radius: 5px;
    border: 0;
    margin: 7px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    text-align: center;
}

/*Standartstyle für jeden Knopf über dem die Mouse steht*/
/*Kann auch über die Klasse "knopf" angewendet werden*/
.knopf:hover,
button:hover{
    background-color: var(--primär-dunkel);
}

/*Standartstyle für jeden Knopf der betätigt wird*/
/*Kann auch über die Klasse "knopf" angewendet werden*/
.knopf:active,
button:active{
    box-shadow: 0 0; /*Der Schatten eines Knopfes wir entfernt*/
}

/*Style für hohe Knöpfe wie z.B im Hauptmenu*/
/*T1 = Typ1 => Breite Knöpfe*/
.knopfT1Gross{
    font-size: 32px;

    width: 350px;
    height: 85px;
}

/*Style für medium hohe Knöpfe wie z.B bei den Fragen*/
/*T1 = Typ1 => Breite Knöpfe*/
.knopfT1Medium{
    font-size: 20px;

    width: 350px;
    height: 70px;
}

/*Style für tiefe Knöpfe wie z.B bei Anmeldung
T1 = Typ1 => Breite Knöpfe*/
.knopfT1Klein{
    font-size: 25px;

    width: 310px;
    height: 50px;
}

/*Style für große Knöpfe*/
/*T2 = Typ2 => schmale Knöpfe*/
.knopfT2Gross{
    font-size: 20px;

    width: 212px;
    height: 100px;
}

/*Style für große Knöpfe die im refenziereten Menu sind.*/
/*Diese Knöpfe sollen also nichts machen und haben kein Hover-Effect.*/
/*T2 = Typ2 => schmale Knöpfe*/
.knopfT2GrossAuswahl{
    font-size: 32px;
    font-weight: 700;
    height: 20%;
}

.knopfT2GrossAuswahl{
  width: 98%;
    margin: 3px;

}

/*Style für ein Text Eingabefeld*/
.inputField{
    display: flex;
    outline: 0;
    border-color: var(--text-grau);
    border-width: 0 0 1px 0;
    width: 310px;
    height: 40px;

    font-size: 20px;
    color: var(--text-grau);

    justify-content: center;
    align-items: center;
}